:root {
	--team-image-height: 30px;
	--team-image-width: 45px;
	--border-radius: 3px;
	--color-light: #eeeeee;
	--color-green: #008000;
	--color-green-dark: #014901;
}

html {
	background-color: var(--color-light);
	color: #333333;
}

body {
	margin: 0;
	padding: 0;
	position: relative;
}

h1 {
	display: block;
	color: var(--color-green-dark);
	height: 60px;
	text-align: center;
	margin: 10px;
	font-size: 2em;
	padding-top: 15px;
	width: 100%;
}

h3 {
	margin: 0;
}

#content {
	min-height: 100%;
	max-width: 1125px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sectionContent {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16);
	background-color: white;
	border-radius: var(--border-radius);
}

#switchContainer {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.select {
	text-align: center;
	margin: auto;
}

iframe {
	margin: auto;
}

#infoBox {
	background-color: var(--color-light);
	position: absolute;
	font-size: 10px;
	padding: 4px;
	border-radius: var(--border-radius);
	border: 1px solid #bbbbbb;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16);
}

#infoBoxScore {
	font-size: 12px;
	font-weight: bold;
}

#infoBoxClose {
	font-size: 9px;
	float: right;
	cursor: pointer;
}

#liveGamesContainer {
	width: 100%;
	margin: 10px auto;
}

#liveGamesContainer h2 {
	float: left;
}

#liveGamesContainer button {
	float: right;
	margin: 15px 5px;
	padding: 10px;
	color: var(--color-light);
	background-color: var(--color-green);
	border: 1px solid var(--color-green);
	border-radius: var(--border-radius);
	cursor: pointer;
	transition: all .1s ease;
}

#liveGamesContainer button:hover {
	background-color: var(--color-light);
	color: var(--color-green);
}

#liveGamesContainer button:active {
	transition: all 0s ease;
	color: var(--color-light);
	background-color: var(--color-green);
}

.liveGameContainer {
	width: 25%;
	margin: 5px auto;
	float: left;
}

#liveGames {
	padding: 15px 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.liveGame {
	font-size: 10px;
	border-radius: var(--border-radius);
	width: 230px;
	margin: 5px auto;
	padding: 8px;
	font-size: 15px;
	border: 1px solid white;

	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

.liveGameContent {
	height: 73px;
}

.liveGame.selected {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16);
	border: 1px solid var(--color-green);
}

.liveGame.newUpdate {
	border: 1px solid orange;
}

.liveGame .img {
	width: var(--team-image-width);
	height: var(--team-image-height);
	vertical-align: middle;
	margin-right: 3px;
	float: left;
	background-size: contain;
}

.teams {
	width: 70%;
	float: left;
}

.teamInfo {
	line-height: 32px;
	margin: 3px;
}

.teamScore {
	float: right;
}

.gameInfoWrapper {
	float: right;
	width: 30%;
	height: 65px;
}

.gameInfo {
	margin: 3px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.liveGameFooter {
	margin: 3px;
	text-align: center;
}

.newScorigami {
	font-weight: bold;
	display: inline-block;
	color: red;
	animation: tilt-shaking 0.5s infinite;
}

.p33 .liveGameContainer {
	width: 33%;
}

.p50 .liveGameContainer {
	width: 50%;
}

.p100 .liveGameContainer {
	width: 100%;
}

#helper {
	background-color: #ffff99;
	position: absolute;
	font-size: 18px;
	padding: 10px;
	border-radius: var(--border-radius);
	text-align: center;
	border: 1px solid black;
	cursor: pointer;

	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-ms-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	opacity: 0.9;

	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	-khtml-user-select: none;
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently supported by Chrome and Opera */
}

#faqContainer {
	width: 100%;
	margin: 20px auto;

}

#faqs {
	padding: 20px;
}

footer {
	text-align: center;
	font-size: 12px;
	padding: 20px 0;
	color: var(--color-light);
	background-color: #333333;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .16);
	margin-top: 60px;
	width: 100%;
	z-index: 0;
}

#helper.hide-opacity {
	opacity: 0;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

footer a {
	color: white;
}

#bmac {
	position: fixed;
	right: 5;
	bottom: 5;
	z-index: 1;
}

@keyframes tilt-shaking {
	0% {
		transform: rotate(0deg);
	}

	25% {
		transform: rotate(5deg);
	}

	50% {
		transform: rotate(0eg);
	}

	75% {
		transform: rotate(-5deg);
	}

	100% {
		transform: rotate(0deg);
	}
}
