h1{
	text-align: center;
	margin: 10px;
	font-size: 3em;
}

h4{
	text-align: center;
	margin: 0;
}

div.text{
	max-width: 1125px;
	width: 100%;
	margin: auto;
}

iframe{
	margin: auto;
}

.outer-wrapper{ position: relative; float: right; right: 50%; }
.inner-wrapper { position: relative; float: right; right: -50%; }
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }