:root {
	--team-image-height: 24px;
	--team-image-width: 36px;
	--border-radius: 3px;
	--color-light: #eeeeee;
	--color-primary: #1e3868;
	--color-primary-dark: #1e2d47;
	--color-dark: #333333;
	--color-secondary: #b62126;
	--switch-height: 21px;
}

#switchContainer {
	width: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: var(--switch-height);
}

.switch input {
	display: none;
}

.switchSlider {
	position: absolute;
	cursor: pointer;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 20px;
	display: inline-block;
}

.switchSlider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 50%;
}

input:checked+.switchSlider {
	background-color: var(--color-primary);
}

input:focus+.switchSlider {
	box-shadow: 0px 0px 1px var(--color-primary);
}

input:checked+.switchSlider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

.switchWrapper {
	float: left;
	margin: 5px 10px;
}

.switchText {
	line-height: var(--switch-height);
	height: var(--switch-height);
	float: right;
	padding-left: 2px;
}

#sliderContainer {
	margin: 15px auto;
	width: 100%;
	max-width: 1000px;
	text-align: center;
	font-weight: bold;
	height: var(--switch-height);
	line-height: var(--switch-height);
}

.slider {
	appearance: none;
	-webkit-appearance: none;
	height: 15px;
	width: 90%;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.99;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--switch-height);
	height: var(--switch-height);
	border-radius: 50%;
	background: var(--color-secondary);
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: var(--switch-height);
	height: var(--switch-height);
	border-radius: 50%;
	background: var(--color-secondary);
	cursor: pointer;
}