:root{
	--switch-height: 21px;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 35px;
	height: var(--switch-height);
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.switchSlider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 20px;
	display: inline-block;
}

.switchSlider:before {
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .2s;
	transition: .2s;
	border-radius: 50%;
}

input:checked + .switchSlider {
	background-color: #2196F3;
}

input:focus + .switchSlider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .switchSlider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

#switchContainer{
	text-align: center;
}

.switchWrapper{
	float:left;
	margin: 0 10px;
}

.switchText{
	line-height: var(--switch-height);
	height: var(--switch-height);
	float: right;
	padding-left: 2px;
	/* display:inline-block; */
}


#sliderContainer{
	margin: 5px auto;
	width: 100%;
	max-width: 1000px;
	text-align: center;
	font-weight:bold;
	height: var(--switch-height);
	line-height: var(--switch-height);
}

.slider {
	-webkit-appearance: none;
	height: 15px;
	width: 90%;
	border-radius: 5px;	 
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: var(--switch-height);
	height: var(--switch-height);
	border-radius: 50%; 
	background: #2196F3;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: var(--switch-height);
	height: var(--switch-height);
	border-radius: 50%;
	background: #2196F3;
	cursor: pointer;
}