<html>
<head>
	<title>Scorigami</title>
	<script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
	<script src="../js/source.js"></script>
	<link rel="stylesheet" href="../styles/style.css"></link>
</head>
<body>
	<div id='tableContainer'>
		<table id="scoreTable">
		</table>
		<div class="clearfix">
			<div class='outer-wrapper'>
				<div id='hueSpectrum' class='inner-wrapper hidden'>
						<div id='hueSpectrumLabelMinCount'>1</div>
						<div id="hueSpectrumColors"></div>
						<div id='hueSpectrumLabelMaxCount'>252</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>